extends ./layouts/main-layout 
block content
  .posts_container
    +createPostForm(userLoggedIn)

    .posts
    +createPostModal()
      //- loadPosts
block scripts
  script(src="/js/home/home.js")
  script(src="/js/common.js") 
