extends ./layouts/main-layout 
block content
  .profile_container
    //- Header  
    .header-profile.pb-3
      //- Cover image and avatar
      .photo-cover_container
        //- cover-image
        .cover-image_area
          .cover-image
            img(src='/assets/img/bg.jpg', alt='Ảnh bìa')
          .cover-image_actions
            button.button_open-modal(type='button', data-bs-toggle='modal', data-bs-target='#coverImageModal')
              i.fas.fa-camera
       
        //- avatar
        .avatar-area
          .avatar
            img(src='./assets/img/avatar.png', alt='Ảnh đại diện')
          .avatar_action
            button.button_open-modal(type='button', data-bs-toggle='modal', data-bs-target='#avatarModal')
              i.fas.fa-camera
      //- Info-user

      .info-profile_container.container-fluid
        .row
          .col-12.col-sm-12.col-md-2.col-lg-2.col-xl-2
          //- info
          .col-12.col-sm-12.col-md-10.col-lg-5.col-xl-4
            .content-info_container.pt-3
              h3.name-user Minhch
              .info-users_details
                .gender-user
                  i.fas.fa-venus-mars.d-inline
                  span.px-2.default Nam
                .birthday-user
                  i.fas.fa-calendar-alt
                  span.px-2.default 25-11-1999
                .address-user
                  i.fas.fa-map-marker-alt
                  span.px-2.default B&igrave;nh &Dstrok;&#x1ECB;nh
          //- following and follower
          .col-12.col-md-12.col-lg-5.col-xl-6.position-relative
            .action-container
              button.follow.following Following
              button.follow
                i.fas.fa-user-check
                span (4)
    //- Post and follower
    .choose-user_container.pt-3.mt-3
      .container-fluid.text-center.choose-action
        .row
          //- Post
          .col-6.col-sm-6.col-md-6.col-lg-6.col-xl-6
            .post-choose.choose
              h5 Post
          //- User
          .col-6.col-sm-6.col-md-6.col-lg-6.col-xl-6
            .follower-choose.choose.active
              h5 Users
      //- Post list
      .posts_wrapper.mt-4.d-none
        .post
          .post_main-content-container
            .user_image-container.follower_image-container
              img(src='./assets/img/avatar.png', alt="User's profile picture")
            .post_content-container
              .post_header
                // info
                a.displayName(href='/profile/') minhch
                a.user-link @minhch
                span.date 3 gi&#x1EDD;
                // buttons
                button.button_open-modal.button_action-sm(data-bs-toggle='modal', data-bs-target='#pinPostModal')
                  i.remove-pointer-events.fas.fa-thumbtack
                button.button_open-modal.button_action-sm(data-bs-toggle='modal', data-bs-target='#deletePostModal')
                  i.remove-pointer-events.fas.fa-times
              .post_body
                span
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  | Repellat totam quod, quae id vero similique iste ut, animi,
                  | placeat praesentium distinctio dolorem sed expedita pariatur
                  | provident? Libero odit quia eligendi.
              .post_footer
                .post_button-container
                  .post_button-container_content
                    button(type='button', data-bs-toggle='modal', data-bs-target='#replyModal')
                      i.far.fa-comment
                .post_button-container.green
                  .post_button-container_content.active.remove-pointer-events
                    button.retweet-button
                      i.fas.fa-retweet
                    span.number-retweets 2
                .post_button-container.pink
                  .post_button-container_content.active
                    button.like-button
                      i.far.fa-heart
                    span.number-likes 32
      //- Users
      .follower_wrapper.mt-4
        .follower-content_container.container-fluid.pb-3.mt-3
          .row
            .col-sm-12.col-md-5.col-lg-5
              .follower-info.d-flex.align-items-center
                .user_image-container.follower_image-container
                  img(src='./assets/img/avatar.png', alt="User's profile picture")
                .follower-name_container.px-4
                  span.username Minhch
                  a.user-link @minhch
            .col-sm-12.col-md-7.col-lg-7
              .action
                button.follow
                  i.fas.fa-user-check
                  span 20
                button.follow.bg-blue
                  i.fas.fa-comments
block scripts
