extends ./layouts/main-layout 
block content
  .search-box
    input#searchInput(type='text', autofocus='', placeholder='Enter name or post...')
    button#searchButton
      i.fas.fa-search
block scripts
